::selection {
  background-color: $clr1;
  color: $clr3;
}

* {
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  //    @media (max-width: 1300px) {
  //        font-size: 13px;
  //    }
}

body {
  margin: 0;
  // overflow-y: hidden;
  overflow-x: hidden;
  line-height: 20px;
  font-size: 14px;
  
}

.icon {
  font-family: trellicons;
}

// links
a {
  color: inherit;

  &.active {
    background-color: $clr1;
    color: $clr2;
  }
}

mark {
  color: $clr1;
  background-color: transparent;
}
