::selection {
    background-color: $clr1;
    color: $clr3;
}

* {
    box-sizing: border-box;
}

html { 
   font-family: Bahnschrift, sans-serif; 

//    @media (max-width: 1300px) {
//        font-size: 13px;
//    }
}


body {
margin: 0;
overflow-y: hidden;
overflow-x: hidden;
}


// links
a {
    color: inherit;

    &.active {
        background-color: $clr1;
        color: $clr2;
    }
}

mark {
    color: $clr1;
    background-color: transparent;
}