.member-icon {
  font-family: trellicons;
  font-size: 1rem;
  color: #5e6c84;
  &::before {
    content: '\e946';
  }
}
.settings-icon {
  font-family: trellicons;
  font-size: 1rem;
  color: #5e6c84;
  &::before {
    content: '\e932';
  }
}
.checklist-icon {
  font-family: trellicons;
  font-size: 1rem;
  color: #5e6c84;
  &::before {
    content: '\e91a';
  }
}
.custom-icon {
  font-family: trellicons;
  font-size: 1rem;
  color: #5e6c84;
  &::before {
    content: '\e91a';
  }
}
.label-icon {
  font-family: trellicons;
  font-size: 1rem;
  color: #5e6c84;
  &::before {
    content: '\e93f';
  }
}
.attach-icon {
  font-family: trellicons;
  font-size: 1rem;
  color: #5e6c84;
  &::before {
    content: '\e908';
  }
}
.cover-icon {
  font-family: trellicons;
  font-size: 1rem;
  color: #5e6c84;
  &::before {
    content: '\e914';
  }
}
.tablet-icon {
  font-family: trellicons;
  font-size: 1rem;
  color: #5e6c84;
  &::before {
    content: '\e912';
  }
}
.description-icon {
  font-family: trellicons;
  font-size: 1rem;
  color: #5e6c84;
  &::before {
    content: '\e922';
  }
}
.assign-icon {
  font-family: trellicons;
  font-size: 1rem;
  color: #5e6c84;
  &::before {
    content: '\e902';
  }
}
.emoji-icon {
  font-family: trellicons;
  font-size: 1rem;
  color: #5e6c84;
  &::before {
    content: '\e92a';
  }
}
.mention-icon {
  font-family: trellicons;
  font-size: 1rem;
  color: #5e6c84;
  &::before {
    content: '\e947';
  }
}
.close-icon {
  font-family: trellicons;
  font-size: 1rem;
  color: #5e6c84;
  &::before {
    content: '\e91c';
  }
}
.add-icon {
  font-family: trellicons;
  font-size: 15px;
  height: 20px;
  line-height: 20px;
  width: 20px;
  color: #5e6c84;
  &::before {
    content: '\e901';
  }
}
.move-icon {
  font-family: trellicons;
  font-size: 1rem;
  color: #5e6c84;
  &::before {
    content: '\e94a';
  }
}
.copy-icon {
  font-family: trellicons;
  font-size: 1rem;
  color: #5e6c84;
  &::before {
    content: '\e91f';
  }
}
.template-icon {
  font-family: trellicons;
  font-size: 1rem;
  height: 20px;
  line-height: 20px;
  width: 20px;
  color: #5e6c84;
  &::before {
    content: '\e96e';
  }
}
.watch-icon {
  font-family: trellicons;
  font-size: 1rem;
  color: #5e6c84;
  &::before {
    content: '\e969';
  }
}
.archive-icon {
  font-family: trellicons;
  font-size: 1rem;
  color: #5e6c84;
  &::before {
    content: '\e907';
  }
}
.share-icon {
  font-family: trellicons;
  font-size: 1rem;
  color: #5e6c84;
  &::before {
    content: '\e963';
  }
}
.menu-icon {
  font-family: trellicons;
  font-size: 0.5rem;
  color: #5e6c84;
  &::before {
    content: '\e952';
}
}
.comment-icon {
  font-family: trellicons;
  font-size: 1rem;
  color: #5e6c84;
  &::before {
    content: '\e91e';
  }
}
.privet-icon {
  font-family: trellicons;
  font-size: 1rem;
  color: #5e6c84;
  &::before {
    content: '\e959';
  }
}
.check-icon {
  font-family: trellicons;
  font-size: 1rem;
  color: #5e6c84;
  &::before {
    content: '\e916';
  }
}

.star-icon{
  font-family: trellicons;
  font-size: 1rem;
  color: #5e6c84;
  &::before {
    content: "\e966";
}

}
.edit-icon-btn{
  background: transparent;
  border: 0;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  .edit-icon{
    font-family: trellicons;
    font-size: 0.8rem;
    color: #5e6c84;
    &::before {
      content: "\e928";
  }
  }
  &:hover{
    background-color: #091e4214;
  }

}
