@font-face {
    font-family: Bahnschrift;
    src: url(~@/assets/fonts/Bahnschrift/bahnschrift.ttf);
}
@font-face{
    font-family: fa-font;
    src: url('../fonts/fa/fa-regular-400.ttf')
}

@font-face{
    font-family: trellicons;
    src: url('@/styles/fonts/trellicons.ttf')
}

@font-face{
    font-family: fa-solid;
    src: url('../fonts/fa/fa-solid-900.ttf');
}

@font-face{
    font-family: fa-regular;
    src: url('../fonts/fa/fa-regular-400.ttf');
}


