@font-face {
    font-family: Bahnschrift;
    src: url(~@/assets/fonts/Bahnschrift/bahnschrift.ttf);
}
@font-face{
    font-family: fa;
    src: url('../fa/fa-solid-900.ttf;')
}

@font-face{
    font-family: trello;
    src: url('../fa/trellicons.ttf')
}