
@font-face {
    font-family: SourceSansPro-Bold;
    src: url('../../assets/fonts/SourceSansPro-Bold.ttf');
}

@font-face{
    font-family: fa-font;
    src: url('../fonts/fa/fa-regular-400.ttf')
}

@font-face{
    font-family: trellicons;
    src: url('@/styles/fonts/trellicons.ttf')
}

@font-face{
    font-family: fa-solid;
    src: url('@/styles/fonts/fa/fa-solid-900.ttf');
}

@font-face{
    font-family: fa-regular;
    src: url('../fonts/fa/fa-regular-400.ttf');
}



