// // SETUP
@import '1-setup/typography';
@import '1-setup/variables';
@import '1-setup/mixins';
@import '1-setup/functions';

// // BASE
@import '2-base/helpers';
@import '2-base/base';
@import '2-base/icons';
// @import '2-base/layout';

// // LAYOUTS
// @import '3-layout/main-layout';

// // COMPONENTS
// @import '4-cmps/footer';
@import '5-views/card-details';
@import '5-views/board-list';
@import '5-views/board-details';
// COMPONENTS
@import '4-cmps/create-modal';
@import '4-cmps/menu-edit';
@import '4-cmps/attachments-preview';
@import '4-cmps/board-header';
@import '4-cmps/action-menu';
@import '4-cmps/modal';
@import '4-cmps/card-preview';
@import '4-cmps/group-preview';
@import '4-cmps/group-list';
@import '4-cmps/filter-menu';
@import '4-cmps/header';
@import '4-cmps/card-actions';
@import '4-cmps/checklist-action';
@import '4-cmps/description-action';
@import '4-cmps/todo-actionbar';


@import '6-menu/checklist-menu';
@import '6-menu/label-menu';
@import '6-menu/cover-menu';
