.attachments-preview{
    border: 1px black solid;
    width: 100%;
    img.details-icon{
        width: 1.2em;
        position: relative;
        right: 50px;
    }

    header {
        position: relative;
        bottom: 1.5em;
        font-size: 18px;
        color: #87857a96;
        font-weight: 600;
        
    }
}