.avatar {
    // margin-inline-end: 8px;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }

  .members-list.card-preview{
    // display: flex;
    display: none;
    justify-content: flex-end;
    padding-bottom: 9px;
    margin-inline-end: 5px;
    background-color: inherit;
    &:hover{
      background-color: inherit;
    }
  }