.board-header{
    background: #ffffff3d;
    position: relative;
    line-height: 20px;
    padding-left: 32px;
    font-size: 14px;
    font-weight: 400;
    padding: 8px 4px 4px 12px;
    height: 54px;
    nav{
        align-items: center;
        transition: background-color 300ms;
        display: flex;
        overflow: hidden;
        backdrop-filter: blur(6px);
        max-height: 44px;
        padding: 6px 4px;
    }

    button {
        border: 0;
        border-radius: 0.1875rem;
        color: rgb(23, 43, 77);
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.0784313725);
        line-height: 32px;
        margin: 4px;
        line-height: 34px;
        padding: 0 12px;
        margin: 0 4px 12px;
        &:hover{
            background-color: #00000029;
          }
      }

      img{
        filter: invert(31%) sepia(19%) saturate(791%) hue-rotate(180deg) brightness(93%) contrast(94%);
      }

    h1{
        font-size: 16px;
        font-weight: 700;
        line-height: 32px;
        padding: 0 16px;
        margin: 0 0 12px;
    }
}

.board-header-right-btns{
    display: flex;
    position: relative;
    right: 0px;
    // left: 69rem;
}