.card-list {
    margin: 0 4px;
    padding: 0px 5px 0px;
    
    textarea,
    input {
        outline: none;
        background-color: inherit;
        width: 100%;
        border: none;
        font-size: inherit;
        font-family: inherit;
    }

    .card-preview {
        box-shadow: 0 1px 0 #091e4240;
        background-color: #fff;
        position: relative;
        margin-bottom: 8px;
        border-radius: 3px;
        font-weight: 400;
        font-size: 14px;
        max-width: 300px;
        line-height: 20px;
        cursor: pointer;
        .card-title{
            padding: 6px 8px 2px;
        }
    
    .labels {
        display: flex;
        .card-preview-label {
            height: 8px;
            width: 40px;
            padding-inline-end: 3px;
            padding-block-end: 3px;
            margin-inline-end: 5px;
            border-radius: 50px;
        }
}
}
}
.card-preview-cover{
    border-radius: 3px 3px 0 0;
    min-height: 32px;
    position: relative;
    background-color: aliceblue;
 
    .card-color{
        height: 100%;
    }
    .card-img{
        border-radius: 3px;
        height: 163.333px;
        background:rgb(191, 77, 77);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    
}
