.card-list {
    // font-size: 20px;
    margin: 0 4px;
    // z-index: 1;
    
    textarea,
    input {
        outline: none;
        background-color: inherit;
        width: 100%;
        border: none;
        font-size: inherit;
        font-family: inherit;
    }

    .card-preview {
        box-shadow: 0 1px 0 #091e4240;
        background-color: #fff;
        position: relative;
        margin-bottom: 8px;
        border-radius: 3px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        padding: 6px 8px 2px;
        cursor: pointer;
        // height: 200px;
    
    .labels {
        display: flex;
        .card-preview-label {
            height: 8px;
            width: 40px;
            padding-inline-end: 3px;
            padding-block-end: 3px;
            margin-inline-end: 5px;
            border-radius: 50px;
        }
}
}
}
.card-preview-cover{
    border-top-left-radius:3px;
    min-height: 32px;
    position: relative;
    .card-color{
        height: 100%;
    }
    .card-img{
        height: 100%;
        background:rgb(191, 77, 77);
        position: absolute;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    
}
