.card-checklist {
  position: relative;
  .checklist-icon {
    img {
      width: 23px;
      position: absolute;
      top: rem(-1px);
      left: rem(-33px);
    }
  }
  .checklist-action {
    h3 {
      margin-top: rem(35px);
      margin-inline-start: rem(1px);
      font-size: 1rem;
      color: #172b4d;
    }
    .delete-checklist-btn {
      @include headers-btns;
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
      margin: 0;
      padding: 0px 12px;
      background-color: #091e420a;
      position: absolute;
      top: rem(-3px);
      right: rem(2px);
      &:hover {
        background-color: #091e4214;
      }
    }
  }
  .todo-container {
    position: relative;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    margin-bottom: rem(14px);
    .todo-title {
      font-size: rem(14px);
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    }
    .done {
      text-decoration: line-through;
      color: #5e6c84;
    }
    // .screen-preview-todo{
    //   position: absolute;
    //   // background-color: green;
    //   bottom: 0;
    //   right: 0;
    //   width: 100%;
    //   height: 100%;
    // }

    .todo-checkbox {
      position: absolute;
      top: 0;
      left: rem(-37px);
      border-radius: 3px;
      width: 1rem;
      height: 1rem;
      opacity: 0;
      z-index: 10;
      cursor: pointer;
    }

    .check-mark {
      position: absolute;
      top: rem(2px);
      left: rem(-33px);
      height: 1rem;
      width: 1rem;
      border-radius: rem(2px);
      background-color: #fafbfc;
      transition: all 0.2s ease-in-out;
      box-shadow: inset 0 0 0 2px #dfe1e6;
    }
    &:hover .todo-checkbox ~ .check-mark {
      background-color: #ebecf0;
    }
    & .todo-checkbox:checked ~ .check-mark {
      background-color: #0079bf;
      box-shadow: none;
    }
    &:hover .todo-checkbox:checked ~ .check-mark {
      background-color: #5ba4cf;
    }
    & .todo-checkbox:checked ~ .check-mark:after {
      display: block;
    }
    .check-mark:after {
      content: '';
      position: absolute;
      display: none;
    }
    & .check-mark:after {
      left: 5px;
      top: 1px;
      width: 4px;
      height: 8px;
      border: 1px solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  .progress-bar-preview {
    position: relative;
    margin: rem(14px) 0;
    .progress-count {
      position: absolute;
      top: rem(-4px);
      left: rem(-31px);
      font-size: rem(11px);
    }
    .progress-bar-container {
      width: 100%;
      border-radius: rem(4px);
      background-color: #091e4214;
      height: 8px;
    }
    .progress-bar {
      width: 50%;
      border-bottom-left-radius: rem(4px);
      border-top-left-radius: rem(4px);
      background-color: #5ba4cf;
      height: 8px;

      transition: all 0.5s;
    }
  }
  .add-item-form {
    .add-item-btn-toggle {
      background-color: transparent;
      border: 0;
      border-radius: 0.1875rem;
      font-size: 0.875rem;
      padding: 6px 12px 6px 10px;
      margin-inline-end: 0.25rem;
      margin-bottom: 0.5rem;
      color: rgb(23, 43, 77);
      line-height: 32px;
      cursor: pointer;
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
      padding: 1px 12px;
      background-color: rgba(9, 30, 66, 0.0392156863);
      &:hover {
        background-color: rgba(9, 30, 66, 0.0784313725);
      }
    }
  }
  textarea {
    width: 100%;
    resize: vertical;
    min-height: rem(56px);
    margin-top: rem(-3px);
    margin-left: rem(1px);
    padding: 7px 6px 9px 10px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
      Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    font-size: rem(14px);
    &:focus {
      outline: none;
      box-shadow: inset 0 0 0 1px #0079bf;
      border: 1px solid #0079bf;
      border-radius: rem(3px);
      overflow: hidden;
      overflow-wrap: break-word;
    }
  }
  .adding-items-actions {
    margin-top: 0.25rem;
    margin-inline-start: 2px;
    .cancel-item-btn {
      @include cancel-btns;
    }
    .add-item-btn {
      @include save-btns;
    }
    
  }
  .edit-todo-container {
    position: relative;
    textarea {
      resize: none;
      overflow: hidden;
      overflow-wrap: break-word;
      margin-top: -8px;
      background-color: #091e420a;
      // border-color: #091e4221;
      border-radius: rem(3px);
      &:focus {
        outline: none;
        box-shadow: none;
        border: 1px solid #091e4221;
      }
    }
    .save-todo-btn {
      @include save-btns;
    }
    .cancel-todo-btn {
      @include cancel-btns;
    }
    .screen-edit-todo{
      position: absolute;
      background-color: #091e420a;;
      border-radius: rem(3px);
      bottom: -11px;
      right: 0;
      width: 107.5%;
      height: 122%;
      pointer-events: none;
    }
  }
  
  
}
