
.group-page-container{
    background-color: beige;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    
.board-header{
    display: flex;
    justify-content: space-between;
}
.group-list {
    display: flex;
    position: relative;
    bottom: 8px;

    .new-group {
        // height: 3em;
        // line-height: 3em;
        // background-color: rgb(195 200 209);
        // padding-inline-start: 1em;
    }
}
}