.group-page-container {
  background-size: 100% 100%;
  //   background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
  overflow-x: scroll;
  padding-bottom: 2em;
  border-bottom: 8px rgba(255, 0, 0, 0) solid;
  /* width */
  &::-webkit-scrollbar {
    width: 10px;
    height: 12px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f118;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #a5a39996;
    border-radius: 50px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    // background: #555;
  }


  .board-header {
    display: flex;
    justify-content: space-between;
  }
  .group-list {
    display: flex;
    // height: 100%;
    position: relative;
    bottom: 8px;

    .new-group {
      // height: 3em;
      // line-height: 3em;
      // background-color: rgb(195 200 209);
      // padding-inline-start: 1em;
    }
  }
}
