.group-list {
    display: flex;
    margin: 0 10px;


    .new-group {
        height: 3em;
        line-height: 3em;
        background-color: rgb(195 200 209);
        padding-inline-start: 1em;
    }
}