    .list{
        // height: 100%;
        margin: 0 20px;
        // background-color: #ebecf0;
        padding: 6px 8px 2px;
        
        .group {
            background-color: #ebecf0;
        display: inline-block;
        // height: 100%;
        margin: 0 4px;
        // white-space: nowrap;
        width: 272px;
        }
        .g-header {
            cursor: pointer;
            line-height: 10px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 0px 10px;
            h3{
                margin: 0 0 4px;
                font-size: 14px;
                line-height: 24px;
        }
    }
    .g-footer{
        display: flex;
        justify-content: space-between;
        max-height: 38px;
        min-height: 38px;
    }
}
