.date-calender-container{
    .vc-pana-container{
        width: 100%;
        position: relative;
        text-align: center;
        display: flex;
        justify-content: center;
        margin-top: -8px;
    }
    .vc-pana-layout{
        text-align: center;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        align-items: center;
        
    }
    .vc-weeks{
        // display: flex;
        // flex-wrap: wrap;
        display: grid;
        grid-template-columns: repeat(7,1fr);
        // padding: 5px;
        min-width: 250px;
    }
}
.vc-day{
    // display: flex;
    // flex-wrap: wrap;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 3px;
    color: rgb(9, 30, 66);
    cursor: pointer;
    font-size: 14px;
    padding: 4px 9px;
    position: relative;
    text-align: center;
}
.vc-day-content{
    text-align: center;
}
.vc-title{
    display: flex;
    padding: 0px 0px 8px;
    font-weight: bold;
    justify-content: center;

    color: rgb(23, 43, 77);
}
.vc-arrows-container{
    display: flex;
    position: relative;
    justify-content: space-between;
    bottom: 249px;
    path{

        color: #A5ADBA;
    }
}