

.fa {
  font-family: fa-solid;
}
.share-screen{
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.354);
  height: 100%;
  justify-content: center;
  left: 0;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
  @media only screen and (max-width: 650px) {
    // display: none;
  }
 
}
.share-board {
  .close-icon {
    cursor: pointer;
  }
  overflow-y: scroll;
  border: 5px rgba(0, 0, 0, 0) solid;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: #dadbe2;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background: #bfc4ce;
    border-radius: 4px;
  }

  margin: auto;
  border-radius: 3px;
  width: 607px;
  background-color: #FFFFFF;
  overflow-y: scroll;
  border: 5px rgba(0, 0, 0, 0) solid;
  border-radius: 3px;
  z-index: 100;
  height: 342px;
  padding: 0 25px;
  position: relative;
  background-color: white;
  @media only screen and (max-width: 650px) {
    width: 397px;
    position: absolute;

  }
  //SELECT MENU
  .select-menu {
    cursor: pointer;
    margin-inline-start: 10px;
    color: rgb(51 51 51);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background-color: rgb(245 246 248);
    border-radius: 3px;
    position: absolute;
    font-family:  Helvetica;
    right: 0;
    span {
      margin-inline-start: 17px;
      &::before {
        content: "\f107";
      }
    }
  }
  .select-menu.header{
    right: 55px;
    padding: 10px;
    @media only screen and (max-width: 650px) {
      right: 0;
    }
  }

  // HEADER
  header {
    margin-block-start: 15px;
    display: flex;
    align-items: center;

    justify-content: space-between;
    .title {
      font-size: 20px;
      color: #418fbd;
    }
    .close-icon {
      font-size: 22px;
      color: #42526e;
    }
    margin-bottom: 23px;
  }
  // SEARCH
  .search-container {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 14px;
    .input {
      height: 40px;
      width: 70%;
      border-radius: 3px;
      border: 2px #dfe1e6 solid;
      padding-inline-start: 10px;
      @media only screen and (max-width: 650px) {
        width: 68%;
      }
      &:focus-visible{
        outline: none;
        
      }
      &:hover {
        background-color: #ebecf056;
      }
      &::placeholder{
        font-size: 14px;
        color: #5e6c84;
      }
      &:focus{
        border: 2px #0079bf solid;
        
      }
    }
    margin-bottom: 10px;
  }
  
  // SHARE BUTTON
  .btn.wide {
    position: absolute;
    cursor: pointer;
    background-color: #0079bf;
    top: 58px;
    width: 11%;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    line-height: 39px;
    color: white;
    right: 8px;
    @media only screen and (max-width: 650px) {
      width: 100%;
      line-height: 38px;
      color: white;
      margin-bottom: 23px;
      position: relative;
      top: 0;
      right: 0;

    }
  }

  // LIST
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      position: relative;
      display: flex;
      align-items: center;
      .icon {
        width: 32px;
        height: 32px;
        border-radius: 3px;
        &.copy-avatar {
          background-color: #ebecf0;
        }
        &.fa {
          font-family: fa-solid;
          display: flex;
          align-items: center;
          justify-content: center;
          &::before {
            content: "\f0c1";
            font-size: 12px;
            color: #4d5c77;
          }
        }

        &.avatar {
          font-family: sans-serif;
          border-radius: 50%;
        }
        margin-inline-end: 11px;
      }

      .content {
        display: flex;
        flex-direction: column;
        margin-top: 15px;

        .top {
          color: #0079bf;
        }
        .middle{
          color: #5e6c84;

        }
        .bottom {
          font-size: 12px;
          color: #5e6c84;
          &.copy {
            margin-block-start: 1.5px;
            cursor: pointer;
            width: max-content;
            line-height: 1em;
            border-bottom: 1px #5e6c84 solid;
          }
        }
      }
      // margin-bottom: 15px;
    }
  }
}
