.todo-action-bar {
  .assign-item-btn {
    @include cancel-btns;
    padding: 6px 8px;
    margin-inline-end: 6px;
    cursor: no-drop;
    a{
      cursor: no-drop;
    }
  }
  .duedate-item-btn {
    @include cancel-btns;
    display: flex;
    margin-inline-end: 0;
    padding: 4px 11.3px;
    cursor: no-drop;
    a{
      cursor: no-drop;
    }
    img {
      width: rem(14px);
      margin: 3px 3px 3px 0;
      // margin: rem(3px)
    }
  }
  .mention-item-btn {
    @include cancel-btns;
    cursor: no-drop ;
    span {
      width: 20px;
      height: 20px;
    }
  }
  .emoji-item-btn {
    @include cancel-btns;
    cursor: no-drop ;
    span {
      width: 20px;
      height: 20px;
    }
  }
}
