.board-list-container{
    position: relative;
    background-color: blanchedalmond;
    .board-list{
            background-color: aquamarine;
            display: flex;
            height: 80px;
            position: relative;
            flex-direction: column;
            padding: 8px;
            margin: 5px;
            border-radius: 3px;
            .board-preview ul{
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                background-color: lightblue;
                list-style: none;
                
                li{
                    background-color: lightcoral;
                }
            }
        }
    }
    
    