.board-list-container{
    position: relative;
    top: 40px;
    margin: 0 10% 0;
    flex-direction: column;
    min-height: 50vh;
    z-index: -1;
    h1{
        margin-left: 4%;
        color: #172B4D;
    }
            .board-preview ul{
                display: flex;
                flex-wrap: wrap;
                max-width: 900px;
                height: 120px;
                li{
                    background: #091e420a;
                    background-size: cover;
                    background-position: center center;
                    border-radius: 3px;
                    color: #FFFFFF;
                    position: relative;
                    text-decoration: none;
                    flex: 1 0 22%;
                    margin-right: 2%;
                    margin-bottom: 2%;
                    list-style: none;
                    cursor: pointer;
                    &:hover{
                        filter: brightness(90%);
                    }
                    h1{
                        font-size: 16px;
                        font-weight: 700;
                        margin-left: 4%;
                        color: #FFFFFF;
                    }
                }
            }
        }
    
    