.card-details-container {
  display: flex;
  align-items: flex-start;
  background-color: #000000a3;
  height: 100%;
  justify-content: center;
  left: 0;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
  .card-details {
    min-height: 600px;
    margin-bottom: rem(145px);
    padding-bottom: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
      Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    min-height: 600px;
    max-width: 768px;
    width: 100%;
    position: relative;
    background-color: #f4f5f7;
    top: rem(50px);
    .card-cover {
      position: relative;
      .cover-menu-container {
        position: absolute;
        width: 100%;
        padding: 8px;
        bottom: 0;
        right: 0;
        text-align: end;
      }
      .cover-menu-btn {
        @include headers-btns;
        margin: 0;
        padding: 6px 12px 6px 6px;
        line-height: 1.42857143;
      }
    }
    .card-cover-color {
      width: 100%;
      height: rem(116px);
    }
    .card-cover-img {
      width: 100%;
      height: rem(160px);
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
    }
    .close-details-container {
      position: absolute;
      top: 0;
      right: 0;
      width: rem(40px);
      height: rem(40px);
      margin: rem(4px);
      padding: rem(4px);
      justify-content: center;
      align-items: center;
      background-color: #00000014;
      border-radius: 50%;
      cursor: pointer;
      &:hover {
        background-color: #00000029;
      }
      .close-details-btn {
        justify-content: center;
        align-items: center;
        width: rem(20px);
        height: rem(20px);
        text-decoration: none;
      }
    }
    .card-header {
      position: relative;
      font-size: rem(14px);
      width: 100%;
      margin: 12px 40px 8px 56px;
      // height: 61px;
      h1 {
        font-size: rem(20px);
        padding: 10px 6px;
        margin: -4px -8px -5px -8px;
        font-weight: 600;
        line-height: 1.25;
      }
      .in-list-txt {
        margin-inline-start: 2px;
        margin-bottom: rem(6px);
      }
      .actionImg {
        width: 32px;
        height: 32px;
        position: absolute;
        top: rem(5px);
        left: -2.5rem;
        justify-content: center;
        align-items: center;
      }

      .group-title {
        text-decoration: underline;
      }
    }
  }
  .details-column {
    margin-inline-start: rem(55px);
    margin-top: rem(7px);
    h3 {
      font-size: rem(12px);
      font-weight: 600;
      margin: 0 8px 3px 0;
      color: rgb(94, 108, 132);
      line-height: 1.666666667;
    }

    
  }
  .add-label-btn {
    scale: 2;
  }
  .labels-menu {
    background-color: white;
    padding: 1rem;
    position: absolute;
    top: 0;
    // left: 372;
    z-index: 1;
    .create-label,
    .color-blind-btn {
      width: 100%;
      margin: 8px 4px 8px 0;
      padding: 6px 12px;
    }
    .color-blind-btn {
      cursor: no-drop;
    }
  }

  .labels-preview {
    flex-wrap: wrap;
    span {
      @include headers-btns;
      font-weight: 600;
    }
    .label-btn {
      margin: 0 0 4px 0;
    }
    button {
      width: 32px;
      height: 32px;
      font-size: 1rem;
      border: 0;
      border-radius: rem(3px);
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.1);
      &:hover {
        background-color: rgba(0, 0, 0, 0.12);
      }
    }
  }
}
