.labels-menu {
  // z-index: 10;
  // background-color: white;
  // position: absolute;
  // top: 0;
  // right: 0;
  // z-index: 1;
  // border-radius: rem(3px);
  // .menu-header {
  //   position: relative;
  //   justify-content: center;
  //   margin-bottom: 11px;

  //   .close-label-menu {
  //     color: #6b778c;
  //     position: absolute;
  //     padding: 0;
  //     margin: 4px;
  //     border: 0;
  //     background-color: transparent;
  //     font-size: rem(14px);
  //     top: 0px;
  //     right: 2px;
  //     &:hover {
  //       cursor: pointer;
  //       color: #172b4d;
  //       background-color: transparent;
  //     }
  //   }
  //   span {
  //     font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  //       Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  //     padding: 0 120.7px;
  //     margin: 0px 12px;
  //     line-height: 2.85714286;
  //     font-weight: 400;
  //     color: #5e6c84;
  //     text-overflow: ellipsis;
  //     white-space: nowrap;
  //     border-bottom: 1px solid #091e4221;
  //     &:hover {
  //       background-color: transparent;
  //       cursor: default;
  //     }
  //   }
  // }
  // .main-labels-content {
  //   padding: 0 rem(12px);
  //   .search-labels {
  //     background-color: white;
  //     padding: 8px;
  //     border-radius: rem(3px);
  //     margin-bottom: 13px;
  //     box-shadow: inset 0 0 0 2px #dfe1e6;
  //     &:focus {
  //       outline: none;
  //       box-shadow: inset 0 0 0 1px #0079bf;
  //       border: 1px solid #0079bf;
  //       border-radius: rem(3px);
  //       overflow: hidden;
  //       overflow-wrap: break-word;
  //     }
  //   }
  //   h3{
  //       margin-bottom: 8px;
  //   }
  //   .label-picker{
  //       padding: 0;
  //       margin: 4px 0;
  //       height:32px ;
  //       border-radius: rem(4px);

  //   }
  // }

  // .create-label,
  // .color-blind-btn {
  // }
  // .color-blind-btn {
  //   cursor: no-drop;
  // }
}

.modal {
  .labels {
    display: flex;
    flex-direction: column;
    .label {
      display: flex;
      height: em(32px);
      border-radius: 3px;
      margin-bottom: 5px;
      width: 90%;
      position: relative;
      transition: 0.2s;
      &:hover {
        cursor: pointer;
        padding-left: 5px;
        background-color: green;
      }

      .pad {
        position: absolute;
        width: 10%;
        // background-color: inherit;
        // border: 1px black solid;
        .top {
          width: 100%;
          height: 100%;
          position: absolute;
        }
        .bottom {
          position: absolute;
          width: 100%;
          height: 100%;
        }
        left: -1em;
        height: 100%;
        top: 0;
      }
    }
    .icon {
      position: absolute;
      height: 100%;
      right: -2.5em;
      width: 2em;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 3px;
      &::before {
        content: "\e928";
        font-size: 16px;
        color: #465571;
      }
      &:hover {
        cursor: pointer;
        background-color: lightgray;
      }
    }
  }
}
