.show-menu {
  background-color: #f4f5f7;
  position: fixed;
  right: -100%;
  top: 44px;
  height: 100%;
  color: rgb(23, 43, 77);
  padding: 0 6px 0 12px;
  z-index: 10;
  transition: right 0.3s;
  .menu-header {
    position: relative;
    text-align: center;
    button {
      position: absolute;
      top: rem(9px);
      right: -1px;
      background-color: transparent;
      width: 2rem;
      height: 2rem;
      span.close-icon {
        color: rgb(23, 43, 77);
        font-size: rem(20px);
      }
      &:hover {
        color: #091e42;
      }
    }
    h3 {
      margin: 14px 32px;
      padding: 0 107.5px;
      font-size: rem(16px);
      font-weight: 600;
    }
  }
  .menu-options {
    .change-cover {
      background-color: transparent;
      padding: 6px 6px 6px 40px;
      border-radius: 3px;
      font-weight: 600;
      font-size: rem(14px);
      line-height: 1.42857143;
      color: rgb(23, 43, 77);
      margin-top: 10px;
      cursor: pointer;
      .mini-img {
        position: absolute;
        left: 20px;
        width: 20px;
        height: 20px;
        background-position: center;
        background-size: contain;
        border-radius: 3px;
      }
      &:hover {
        background-color: #091e4214;
      }
    }
    .dashboard{
      position: relative;
      background-color: transparent;
      padding: 6px 6px 6px 40px;
      border-radius: 3px;
      font-weight: 600;
      font-size: rem(14px);
      line-height: 1.42857143;
      color: rgb(23, 43, 77);
      margin-bottom: 10px;
      cursor: pointer;
      .collection-icon{
        position: absolute;
        font-size: 20px;
        top: 0;
        left: 8px;
        width: 20px;
        height: 20px;
      }
      &:hover {
        background-color: #091e4214;
      }
    }
  }
  .board-activity {
    background-color: transparent;
    padding: 6px 6px 6px 40px;
    border-radius: 3px;
    font-weight: 600;
    font-size: rem(14px);
    line-height: 1.42857143;
    color: rgb(23, 43, 77);
    margin-top: 10px;
    cursor: pointer;
    margin: 10px 0;
    .activity-header {
    }
    .activity-icon {
      position: absolute;
      left: 20px;
      font-weight: 400;
    }
    .activity-txt {
      margin: 0;
      color: rgb(23, 43, 77);
      font-size: rem(14px);
      font-family: 700;
      line-height: 1.42857143;
    }
    &:hover {
      background-color: #091e4214;
    }
  }
  hr {
    background-color: #091e4221;
    border: 0;
    height: 1px;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}
.style-menu {
  background-color: #f4f5f7;
  position: fixed;
  right: -100%;
  top: 44px;
  height: 100%;
  color: rgb(23, 43, 77);
  padding: 0 6px 0 12px;
  z-index: 10;
  transition: right 0.3s;
  .style-menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .back-icon {
      position: absolute;
      font-family: trellicons;
      font-size: rem(20px);
      left: rem(19px);
      color: rgb(23, 43, 77);
      cursor: pointer;
      &:hover {
        color: #091e42;
      }
      &::before {
        content: '\e90a';
      }
    }
    .close-icon {
      position: absolute;
      font-size: rem(20px);
      top: rem(16px);
      right: rem(13px);
      color: rgb(23, 43, 77);
      cursor: pointer;
      &:hover {
        color: #091e42;
      }
    }

    h3 {
      color: rgb(23, 43, 77);
      font-size: rem(16px);
      font-weight: 600;
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
      padding: 0 87.4px;
    }
  }
  .preview-menus {
    .imgs,
    .colors {
      cursor: pointer;
    }
    .colors-preview {
      width: 152.5px;
      height: 96px;
      background-image: url('https://a.trellocdn.com/prgb/dist/images/colors@2x.ec32a2ed8dd8198b8ef0.jpg');
      background-size: cover;
      border-radius: 8px;
      margin-bottom: 0.5rem;
      background-repeat: no-repeat;
      &:hover {
        opacity: 0.7;
      }
    }
    .imgs-preview {
      height: 96px;
      width: 152.5px;
      background-image: url('https://a.trellocdn.com/prgb/dist/images/photos-thumbnail@3x.8f9c1323c9c16601a9a4.jpg');
      background-size: cover;
      border-radius: 8px;
      margin-bottom: 0.5rem;
      background-repeat: no-repeat;
      &:hover {
        opacity: 0.7;
      }
    }
    h3 {
      text-align: center;
      margin: 8px 0 0;
      font-size: rem(14px);
      font-weight: 400;
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    }
  }
}

.colors-menu {
  background-color: #f4f5f7;
  position: fixed;
  right: -100%;
  top: 44px;
  height: 100%;
  color: rgb(23, 43, 77);
  padding: 0 6px 0 12px;
  z-index: 10;
  transition: right 0.3s;
  .colors-header {
    h3 {
      color: rgb(23, 43, 77);
      font-size: rem(16px);
      font-weight: 600;
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
      padding: 0 137.4px;
    }
    .back-icon {
      position: absolute;
      font-family: trellicons;
      font-size: rem(20px);
      left: rem(19px);
      color: rgb(23, 43, 77);
      cursor: pointer;
      &:hover {
        color: #091e42;
      }
      &::before {
        content: '\e90a';
      }
    }
    .close-icon {
      position: absolute;
      font-size: rem(20px);
      top: rem(16px);
      right: rem(13px);
      color: rgb(23, 43, 77);
      cursor: pointer;
      &:hover {
        color: #091e42;
      }
    }
  }
  .all-colors {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 0.5rem;

    .color {
      width: 152.5px;
      height: 96px;
      border-radius: 0.5rem;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.photos-menu {
  background-color: #f4f5f7;
  position: fixed;
  right: 0;
  top: 44px;
  color: rgb(23, 43, 77);
  padding: 0 6px 0 12px;
  z-index: 10;
  transition: right 0.3s;
  h3 {
    color: rgb(23, 43, 77);
    font-size: rem(16px);
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
      Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    padding: 0 88.95px;
  }
  .back-icon {
    position: absolute;
    font-family: trellicons;
    font-size: rem(20px);
    left: rem(19px);
    color: rgb(23, 43, 77);
    cursor: pointer;
    &:hover {
      color: #091e42;
    }
    &::before {
      content: '\e90a';
    }
  }
  .close-icon {
    position: absolute;
    font-size: rem(20px);
    top: rem(16px);
    right: rem(13px);
    color: rgb(23, 43, 77);
    cursor: pointer;
    &:hover {
      color: #091e42;
    }
  }
  .all-photos {
    overflow-x: hidden;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 0.5rem;
    height: 78vh;
    .photo {
      cursor: pointer;
      width: 148px;
      height: 96px;
      background-position: center;
      background-size: cover;
      border-radius: 0.5rem;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  .unsplash-txt {
    max-width: 321px;
    font-size: rem(12px);
    font-weight: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
      Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: 400;
    padding: 6px 0;
  }
  .input-photos {
    position: relative;
    .search-photos {
      width: 100%;
      padding: 7px 12px 8px 34px;
      color: #172b4d;
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
      font-size: 14px;
      font-weight: 400;
      border-radius: 3px;
      border: none;
      box-shadow: inset 0 0 0 2px #dfe1e6;
      margin: 3px 0 12px;
      &:focus {
        background-color: #fff;
        box-shadow: inset 0 0 0 2px #0079bf;
        outline: none;
      }
    }
    .search-icon {
      position: absolute;
      font-size: 1rem;
      font-family: trellicons;
      color: #172b4d;
      top: 10px;
      left: 12px;
      &::before {
        content: '\e960';
      }
    }
  }
}
